$color-scheme: light !default;
$link-color: #944f00 !default;
$body-background-color: $white !default;
$body-heading-color: $grey-dk-300 !default;
$body-text-color: $grey-dk-100 !default;
$nav-child-link-color: $grey-dk-100 !default;
$sidebar-color: $grey-lt-000 !default;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: $blue-100 !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;

.main-content ol > li ol li::before {
    content: counter(sub-counter) !important;
}

.main-content ul > li::before {
    position: relative !important;
    margin-right: 1em !important;
}

$content-width: 1200px;
$nav-width: 264px;
$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 800px,
  lg: $content-width + $nav-width,
  xl: 1400px,
);

@import "monokai.css"